{% extends "header.html" %}

{% block content %}
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Capstone Studio</a>
		</div>
		<ul class="nav navbar-nav">
		  <li><a href="/parentpage/feedback">学习反馈<span ></a></li>
		  <li class="active"><a href="#">今日作业</a></li>
		  <li><a href="/parentpage/homeworkstatus">作业情况</a></li>
		  <!--<li><a href="#">Page 3</a></li>-->
		</ul>
		
		<ul class="nav navbar-nav navbar-right">
			<!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> 联系我们</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>  退出</a></li>
		</ul>
	  </div>
	</nav>

    {% if notification %}
	<div class="alert alert-danger">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <!-- put the name of clas homework into the alert-->
	  <strong>Attention!</strong> 您的学生今天有作业需要提交！
	</div>
	{% endif %}
	<div class="container-fluid">
		{% for key, value in content.items %}
		<h2> {{ key }} </h2>
		<div style="padding-left:50px;">
			{% for hw in value %}
                <text style="font-size:22px; ">{{hw.name_chinese}}</text>
                <text style="color:#00d8d8; padding-left:8px;">截止日期：{{hw.due_date}}  <text style="padding-left:15px">{{hw.submission}}</text></text> 
                <p style="padding-top:8px; padding-left:50px;">{{hw.homework_content|linebreaks}}</p>
			
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endblock %}